[Unit]
Description=telegram-bot-gggs

[Service]
ExecStart="npm run server:production"
Restart=always
User=opc
Group=opc
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/telegram-bot-gggs

[Install]
WantedBy=multi-user.target